body {
  margin: 0;
  min-width: 320px;
  background: #f1f5f9;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0.6rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #2563eb;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
