services:
  tcp-proxy:
    build:
      context: ${TCP_PROXY_BUILD_CONTEXT:-.}
      dockerfile: ${TCP_PROXY_DOCKERFILE:-Dockerfile}
    container_name: ${TCP_PROXY_CONTAINER_NAME:-tcp-proxy}
    restart: ${TCP_PROXY_RESTART:-unless-stopped}
    env_file:
      - .env
    environment:
      ORCH_BASE_URL: ${ORCH_BASE_URL}
      ORCH_TOKEN: ${ORCH_TOKEN}
      PROXY_ID: ${PROXY_ID}
      PROXY_REGION: ${PROXY_REGION}
      POLL_INTERVAL_SECONDS: ${POLL_INTERVAL_SECONDS}
      GAME_LISTEN_RANGE: ${GAME_LISTEN_RANGE}
      SFTP_LISTEN_RANGE: ${SFTP_LISTEN_RANGE}
      HAPROXY_CFG: ${HAPROXY_CFG}
      HAPROXY_PIDFILE: ${HAPROXY_PIDFILE}
      STATE_DIR: ${STATE_DIR}
    ports:
      - "${GAME_PORT_PUBLISH}"
      - "${SFTP_PORT_PUBLISH}"
